#currentForecast, #nextDayForecast, #dayTwo, #dayThree{
  background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top, #1e5799 0%, #207cca 0%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #1e5799 0%,#207cca 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */

}
